USE [PortalEmpleoTech]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[EmpresaID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[NombreEmpresa] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[SitioWeb] [nvarchar](200) NULL,
	[LogoURL] [nvarchar](max) NULL,
	[RUC] [char](11) NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpresaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[EspecialidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecialidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habilidades]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habilidades](
	[HabilidadID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[HabilidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfertaHabilidades]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfertaHabilidades](
	[OfertaID] [int] NOT NULL,
	[HabilidadID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OfertaID] ASC,
	[HabilidadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OfertasTrabajo]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfertasTrabajo](
	[OfertaID] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaID] [int] NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[EspecialidadID] [int] NOT NULL,
	[UbicacionID] [int] NULL,
	[Modalidad] [nvarchar](50) NOT NULL,
	[SalarioMin] [decimal](18, 2) NULL,
	[SalarioMax] [decimal](18, 2) NULL,
	[FechaPublicacion] [datetime] NULL,
	[Estado] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OfertaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postulaciones]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postulaciones](
	[PostulacionID] [int] IDENTITY(1,1) NOT NULL,
	[OfertaID] [int] NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[FechaPostulacion] [datetime] NULL,
	[EstadoPostulacion] [nvarchar](30) NULL,
	[CV_AdjuntoURL] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostulacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[UbicacionID] [int] IDENTITY(1,1) NOT NULL,
	[Ciudad] [nvarchar](100) NOT NULL,
	[Pais] [nvarchar](50) NOT NULL,
	[Estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[UbicacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[NombreCompleto] [nvarchar](150) NOT NULL,
	[Rol] [nvarchar](20) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empresas] ON 

INSERT [dbo].[Empresas] ([EmpresaID], [UsuarioID], [NombreEmpresa], [Descripcion], [SitioWeb], [LogoURL], [RUC], [Activo]) VALUES (1, 2, N'Sam Sam Korean Chicken', N'Restaurante líder en comida coreana en Perú.', N'www.samsam.com', N'', N'20601234567', 1)
INSERT [dbo].[Empresas] ([EmpresaID], [UsuarioID], [NombreEmpresa], [Descripcion], [SitioWeb], [LogoURL], [RUC], [Activo]) VALUES (2, 3, N'Tech Perú Solutions', N'Consultoría de software y ciberseguridad.', N'www.techperu.com', N'https://techperu.com/logo.png', N'20509876543', 1)
INSERT [dbo].[Empresas] ([EmpresaID], [UsuarioID], [NombreEmpresa], [Descripcion], [SitioWeb], [LogoURL], [RUC], [Activo]) VALUES (3, 22, N'KAZAN FIRE RAMEN SAC', N'', N'kazan-fire.com', N'', N'20610809619', 1)
SET IDENTITY_INSERT [dbo].[Empresas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidades] ON 

INSERT [dbo].[Especialidades] ([EspecialidadID], [Nombre], [Estado]) VALUES (1, N'Desarrollo Backend', N'Activo')
INSERT [dbo].[Especialidades] ([EspecialidadID], [Nombre], [Estado]) VALUES (2, N'Desarrollo Frontend', N'Activo')
INSERT [dbo].[Especialidades] ([EspecialidadID], [Nombre], [Estado]) VALUES (3, N'Full Stack Developer', N'Activo')
SET IDENTITY_INSERT [dbo].[Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Habilidades] ON 

INSERT [dbo].[Habilidades] ([HabilidadID], [Nombre], [Estado]) VALUES (1, N'C#', N'Activo')
INSERT [dbo].[Habilidades] ([HabilidadID], [Nombre], [Estado]) VALUES (2, N'.NET 9', N'Activo')
INSERT [dbo].[Habilidades] ([HabilidadID], [Nombre], [Estado]) VALUES (3, N'SQL Server', N'Activo')
SET IDENTITY_INSERT [dbo].[Habilidades] OFF
GO
INSERT [dbo].[OfertaHabilidades] ([OfertaID], [HabilidadID]) VALUES (2, 1)
INSERT [dbo].[OfertaHabilidades] ([OfertaID], [HabilidadID]) VALUES (2, 2)
INSERT [dbo].[OfertaHabilidades] ([OfertaID], [HabilidadID]) VALUES (2, 3)
GO
SET IDENTITY_INSERT [dbo].[OfertasTrabajo] ON 

INSERT [dbo].[OfertasTrabajo] ([OfertaID], [EmpresaID], [Titulo], [Descripcion], [EspecialidadID], [UbicacionID], [Modalidad], [SalarioMin], [SalarioMax], [FechaPublicacion], [Estado]) VALUES (1, 1, N'Administrador de Restaurante - AXON', N'Gestión integral de operaciones, inventarios y personal en la sede de Magdalena.', 1, 1, N'Presencial', CAST(1800.00 AS Decimal(18, 2)), CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-04-19T23:52:04.533' AS DateTime), N'Activa')
INSERT [dbo].[OfertasTrabajo] ([OfertaID], [EmpresaID], [Titulo], [Descripcion], [EspecialidadID], [UbicacionID], [Modalidad], [SalarioMin], [SalarioMax], [FechaPublicacion], [Estado]) VALUES (2, 2, N'Desarrollador .NET Junior', N'Estudiante de 5to ciclo de Cibertec para mantenimiento de APIs.', 1, 4, N'Remoto', CAST(1500.00 AS Decimal(18, 2)), CAST(2200.00 AS Decimal(18, 2)), CAST(N'2026-04-19T23:52:04.533' AS DateTime), N'Activa')
INSERT [dbo].[OfertasTrabajo] ([OfertaID], [EmpresaID], [Titulo], [Descripcion], [EspecialidadID], [UbicacionID], [Modalidad], [SalarioMin], [SalarioMax], [FechaPublicacion], [Estado]) VALUES (9, 1, N'Administrador de Restaurante', N'Buscamos líder para gestionar sede en Magdalena. Experiencia en costeo y personal.', 1, 1, N'Presencial', CAST(2500.00 AS Decimal(18, 2)), CAST(3500.00 AS Decimal(18, 2)), CAST(N'2026-04-20T18:25:36.423' AS DateTime), N'Activa')
SET IDENTITY_INSERT [dbo].[OfertasTrabajo] OFF
GO
SET IDENTITY_INSERT [dbo].[Postulaciones] ON 

INSERT [dbo].[Postulaciones] ([PostulacionID], [OfertaID], [UsuarioID], [FechaPostulacion], [EstadoPostulacion], [CV_AdjuntoURL], [Activo]) VALUES (1, 2, 4, CAST(N'2026-04-19T23:52:04.533' AS DateTime), N'Pendiente', N'https://storage.com/cv-juan.pdf', 1)
INSERT [dbo].[Postulaciones] ([PostulacionID], [OfertaID], [UsuarioID], [FechaPostulacion], [EstadoPostulacion], [CV_AdjuntoURL], [Activo]) VALUES (10, 1, 4, CAST(N'2026-04-20T18:27:22.707' AS DateTime), N'Aceptado', N'https://axonstorage.com/cv/juan-perez.pdf', 1)
INSERT [dbo].[Postulaciones] ([PostulacionID], [OfertaID], [UsuarioID], [FechaPostulacion], [EstadoPostulacion], [CV_AdjuntoURL], [Activo]) VALUES (11, 11, 4, CAST(N'2026-04-20T18:27:22.707' AS DateTime), N'Entrevista', N'https://axonstorage.com/cv/juan-perez.pdf', 1)
SET IDENTITY_INSERT [dbo].[Postulaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Ubicaciones] ON 

INSERT [dbo].[Ubicaciones] ([UbicacionID], [Ciudad], [Pais], [Estado]) VALUES (1, N'Lima 2', N'Perú', N'Activo')
INSERT [dbo].[Ubicaciones] ([UbicacionID], [Ciudad], [Pais], [Estado]) VALUES (2, N'Cuzco', N'Perú', N'Activo')
INSERT [dbo].[Ubicaciones] ([UbicacionID], [Ciudad], [Pais], [Estado]) VALUES (3, N'Trujillo', N'Perú', N'Activo')
SET IDENTITY_INSERT [dbo].[Ubicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([UsuarioID], [Email], [PasswordHash], [NombreCompleto], [Rol], [FechaRegistro], [Activo]) VALUES (1, N'admin@portal.com', N'admin123', N'Administrador General', N'Admin', CAST(N'2026-04-19T23:52:04.533' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Email], [PasswordHash], [NombreCompleto], [Rol], [FechaRegistro], [Activo]) VALUES (2, N'contacto@samsam.com', N'samsam123', N'Miguel Alcantara', N'Empresa', CAST(N'2026-04-19T23:52:04.533' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([UsuarioID], [Email], [PasswordHash], [NombreCompleto], [Rol], [FechaRegistro], [Activo]) VALUES (3, N'reclutamiento@techperu.com', N'tech123', N'Paola RRHH', N'Empresa', CAST(N'2026-04-19T23:52:04.533' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Empresas__CAF3326B52EE34DA]    Script Date: 29/04/2026 06:11:59:p. m. ******/
ALTER TABLE [dbo].[Empresas] ADD UNIQUE NONCLUSTERED 
(
	[RUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D10534EB18467F]    Script Date: 29/04/2026 06:11:59:p. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Especialidades] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Habilidades] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[OfertasTrabajo] ADD  DEFAULT (getdate()) FOR [FechaPublicacion]
GO
ALTER TABLE [dbo].[OfertasTrabajo] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Postulaciones] ADD  DEFAULT (getdate()) FOR [FechaPostulacion]
GO
ALTER TABLE [dbo].[Postulaciones] ADD  DEFAULT ('Pendiente') FOR [EstadoPostulacion]
GO
ALTER TABLE [dbo].[Postulaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Ubicaciones] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empresas]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[OfertaHabilidades]  WITH CHECK ADD FOREIGN KEY([HabilidadID])
REFERENCES [dbo].[Habilidades] ([HabilidadID])
GO
ALTER TABLE [dbo].[OfertaHabilidades]  WITH CHECK ADD FOREIGN KEY([OfertaID])
REFERENCES [dbo].[OfertasTrabajo] ([OfertaID])
GO
ALTER TABLE [dbo].[OfertasTrabajo]  WITH CHECK ADD FOREIGN KEY([EmpresaID])
REFERENCES [dbo].[Empresas] ([EmpresaID])
GO
ALTER TABLE [dbo].[OfertasTrabajo]  WITH CHECK ADD FOREIGN KEY([EspecialidadID])
REFERENCES [dbo].[Especialidades] ([EspecialidadID])
GO
ALTER TABLE [dbo].[OfertasTrabajo]  WITH CHECK ADD FOREIGN KEY([UbicacionID])
REFERENCES [dbo].[Ubicaciones] ([UbicacionID])
GO
ALTER TABLE [dbo].[Postulaciones]  WITH CHECK ADD FOREIGN KEY([OfertaID])
REFERENCES [dbo].[OfertasTrabajo] ([OfertaID])
GO
ALTER TABLE [dbo].[Postulaciones]  WITH CHECK ADD FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. ACTUALIZAR DATOS DE EMPRESA
CREATE PROCEDURE [dbo].[USP_Empresas_Actualizar]
    @EmpresaID INT,
    @NombreEmpresa NVARCHAR(150),
    @Descripcion NVARCHAR(MAX),
    @SitioWeb NVARCHAR(200),
    @LogoURL NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Empresas
        SET NombreEmpresa = @NombreEmpresa,
            Descripcion = @Descripcion,
            SitioWeb = @SitioWeb,
            LogoURL = @LogoURL
        WHERE EmpresaID = @EmpresaID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La empresa no existe.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[USP_Empresas_Eliminar] 
    @EmpresaID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- 💡 LA MAGIA: Si es 1 lo pone en 0, si es 0 lo pone en 1
        UPDATE Empresas 
        SET Activo = CASE WHEN Activo = 1 THEN 0 ELSE 1 END
        WHERE EmpresaID = @EmpresaID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La empresa no existe en la red AXON.', 1;

    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. INSERTAR EMPRESA
CREATE PROCEDURE [dbo].[USP_Empresas_Insertar]
    @UsuarioID INT,
    @NombreEmpresa NVARCHAR(150),
    @RUC CHAR(11),
    @Descripcion NVARCHAR(MAX),
    @SitioWeb NVARCHAR(200),
    @LogoURL NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Empresas WHERE RUC = @RUC)
            THROW 51000, 'El RUC ya se encuentra registrado.', 1;

        INSERT INTO Empresas (UsuarioID, NombreEmpresa, RUC, Descripcion, SitioWeb, LogoURL)
        VALUES (@UsuarioID, @NombreEmpresa, @RUC, @Descripcion, @SitioWeb, @LogoURL);

        SELECT SCOPE_IDENTITY() AS EmpresaID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_Listar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Empresas_Listar]
    @Pagina INT = 1,
    @TamanoPagina INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        EmpresaID, 
        UsuarioID,       -- 💡 Importante para vinculación
        NombreEmpresa, 
        RUC, 
        Descripcion,     -- 💡 Por si quieres mostrar un "preview"
        SitioWeb, 
        LogoURL,
        Activo           -- 💡 ESTE ES VITAL para el color de la fila en el Admin
    FROM Empresas
    -- ❌ Quitamos el WHERE Activo = 1 para ver a todos
    ORDER BY NombreEmpresa ASC
    OFFSET (@Pagina - 1) * @TamanoPagina ROWS
    FETCH NEXT @TamanoPagina ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   PROCEDURE [dbo].[USP_Empresas_ObtenerPorID]
    @EmpresaID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        e.EmpresaID, 
        e.UsuarioID, 
        e.NombreEmpresa, 
        e.RUC, 
        e.Descripcion, 
        e.SitioWeb, 
        e.LogoURL,
        u.Email,
		e.Activo
    FROM Empresas e
    INNER JOIN Usuarios u ON e.UsuarioID = u.UsuarioID
    WHERE e.EmpresaID = @EmpresaID;
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Empresas_ObtenerPorUsuario]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Empresas_ObtenerPorUsuario]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        EmpresaID, 
        UsuarioID, 
        NombreEmpresa, 
        RUC, 
        Descripcion, 
        SitioWeb, 
        LogoURL,
        Activo -- 💡 ¡Faltaba este socio para que la vista no explote!
    FROM Empresas
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Especialidades_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. ACTUALIZAR ESPECIALIDAD
CREATE   PROCEDURE [dbo].[USP_Especialidades_Actualizar]
    @EspecialidadID INT,
    @Nombre NVARCHAR(50),
    @Estado NVARCHAR(20) = 'Activo' -- 💡 Opcional para mayor flexibilidad
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar si el nombre nuevo ya existe en otra fila
        IF EXISTS (SELECT 1 FROM Especialidades WHERE Nombre = @Nombre AND EspecialidadID <> @EspecialidadID)
            THROW 51000, 'Ya existe otra especialidad con ese nombre en el nodo AXON.', 1;

        UPDATE Especialidades 
        SET Nombre = @Nombre,
            Estado = @Estado
        WHERE EspecialidadID = @EspecialidadID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La especialidad no existe.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Especialidades_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Especialidades_Eliminar]
    @EspecialidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Verificación de existencia
        IF NOT EXISTS (SELECT 1 FROM Especialidades WHERE EspecialidadID = @EspecialidadID)
        BEGIN
            THROW 51000, 'La especialidad académica no se encuentra registrada.', 1;
        END

        -- Cambio de estado dinámico
        UPDATE Especialidades 
        SET Estado = CASE 
                        WHEN Estado = 'Activo' THEN 'Inactivo' 
                        ELSE 'Activo' 
                     END
        WHERE EspecialidadID = @EspecialidadID;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Especialidades_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- TABLA: ESPECIALIDADES ---

-- 1. INSERTAR O ACTUALIZAR ESPECIALIDAD
CREATE   PROCEDURE [dbo].[USP_Especialidades_Insertar]
    @Nombre NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Especialidades WHERE Nombre = @Nombre)
            THROW 51000, 'Esta especialidad ya existe.', 1;

        INSERT INTO Especialidades (Nombre) VALUES (@Nombre);
        SELECT SCOPE_IDENTITY() AS EspecialidadID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Especialidades_Listar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Especialidades_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        EspecialidadID, 
        Nombre, 
        Estado 
    FROM Especialidades
    ORDER BY Nombre ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Especialidades_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 4. OBTENER ESPECIALIDAD POR ID (Sincronizado con DAO)
CREATE   PROCEDURE [dbo].[USP_Especialidades_ObtenerPorID]
    @EspecialidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- 💡 Agregamos 'Estado' para que el SqlDataReader no explote
    SELECT EspecialidadID, Nombre, Estado 
    FROM Especialidades 
    WHERE EspecialidadID = @EspecialidadID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Habilidades_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR HABILIDAD
CREATE   PROCEDURE [dbo].[USP_Habilidades_Actualizar]
    @HabilidadID INT,
    @Nombre NVARCHAR(100),
    @Estado NVARCHAR(20) = 'Activo'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Habilidades 
        SET Nombre = @Nombre,
            Estado = @Estado
        WHERE HabilidadID = @HabilidadID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'Habilidad no encontrada.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Habilidades_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Habilidades_Eliminar]
    @HabilidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Verificación de existencia
        IF NOT EXISTS (SELECT 1 FROM Habilidades WHERE HabilidadID = @HabilidadID)
        BEGIN
            THROW 51000, 'La habilidad técnica no existe en los registros de AXON.', 1;
        END

        -- Cambio de estado dinámico
        UPDATE Habilidades 
        SET Estado = CASE 
                        WHEN Estado = 'Activo' THEN 'Inactivo' 
                        ELSE 'Activo' 
                     END
        WHERE HabilidadID = @HabilidadID;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Habilidades_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- TABLA: HABILIDADES ---

-- 1. INSERTAR O ACTUALIZAR HABILIDAD
CREATE   PROCEDURE [dbo].[USP_Habilidades_Insertar]
    @Nombre NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        IF EXISTS (SELECT 1 FROM Habilidades WHERE Nombre = @Nombre)
            THROW 51000, 'Esta habilidad ya existe.', 1;

        INSERT INTO Habilidades (Nombre) VALUES (@Nombre);
        SELECT SCOPE_IDENTITY() AS HabilidadID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Habilidades_Listar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Habilidades_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        HabilidadID, 
        Nombre, 
        Estado 
    FROM Habilidades
    ORDER BY Nombre ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Habilidades_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- OBTENER HABILIDAD POR ID
CREATE   PROCEDURE [dbo].[USP_Habilidades_ObtenerPorID]
    @HabilidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT HabilidadID, Nombre, Estado 
    FROM Habilidades 
    WHERE HabilidadID = @HabilidadID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertaHabilidades_Asignar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- TABLA: OFERTA HABILIDADES (INTERMEDIA) ---

-- 1. ASIGNAR HABILIDAD A UNA OFERTA
CREATE   PROCEDURE [dbo].[USP_OfertaHabilidades_Asignar]
    @OfertaID INT,
    @HabilidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Evitar duplicados en la misma oferta
        IF NOT EXISTS (SELECT 1 FROM OfertaHabilidades WHERE OfertaID = @OfertaID AND HabilidadID = @HabilidadID)
        BEGIN
            INSERT INTO OfertaHabilidades (OfertaID, HabilidadID)
            VALUES (@OfertaID, @HabilidadID);
        END
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertaHabilidades_Limpiar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. LIMPIAR TODAS LAS HABILIDADES DE UNA OFERTA (Util para cuando se edita la oferta)
CREATE   PROCEDURE [dbo].[USP_OfertaHabilidades_Limpiar]
    @OfertaID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM OfertaHabilidades WHERE OfertaID = @OfertaID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertaHabilidades_ListarPorOferta]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. LISTAR HABILIDADES DE UNA OFERTA ESPECIFICA
CREATE   PROCEDURE [dbo].[USP_OfertaHabilidades_ListarPorOferta]
    @OfertaID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT H.HabilidadID, H.Nombre
    FROM Habilidades H
    INNER JOIN OfertaHabilidades OH ON H.HabilidadID = OH.HabilidadID
    WHERE OH.OfertaID = @OfertaID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertaHabilidades_Quitar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. QUITAR HABILIDAD DE UNA OFERTA
CREATE   PROCEDURE [dbo].[USP_OfertaHabilidades_Quitar]
    @OfertaID INT,
    @HabilidadID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        DELETE FROM OfertaHabilidades 
        WHERE OfertaID = @OfertaID AND HabilidadID = @HabilidadID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertasTrabajo_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. ACTUALIZAR OFERTA
CREATE   PROCEDURE [dbo].[USP_OfertasTrabajo_Actualizar]
    @OfertaID INT,
    @Titulo NVARCHAR(150),
    @Descripcion NVARCHAR(MAX),
    @EspecialidadID INT,
    @UbicacionID INT,
    @Modalidad NVARCHAR(50),
    @SalarioMin DECIMAL(18,2),
    @SalarioMax DECIMAL(18,2),
    @Estado NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE OfertasTrabajo
        SET Titulo = @Titulo,
            Descripcion = @Descripcion,
            EspecialidadID = @EspecialidadID,
            UbicacionID = @UbicacionID,
            Modalidad = @Modalidad,
            SalarioMin = @SalarioMin,
            SalarioMax = @SalarioMax,
            Estado = @Estado
        WHERE OfertaID = @OfertaID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La oferta no existe.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertasTrabajo_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_OfertasTrabajo_Eliminar]
    @OfertaID INT,
    @Estado NVARCHAR(20) = 'Inactiva'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE OfertasTrabajo 
        SET Estado = @Estado 
        WHERE OfertaID = @OfertaID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La oferta no existe.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertasTrabajo_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- TABLA: OFERTAS DE TRABAJO ---

-- 1. INSERTAR OFERTA DE TRABAJO
CREATE   PROCEDURE [dbo].[USP_OfertasTrabajo_Insertar]
    @EmpresaID INT,
    @Titulo NVARCHAR(150),
    @Descripcion NVARCHAR(MAX),
    @EspecialidadID INT,
    @UbicacionID INT,
    @Modalidad NVARCHAR(50),
    @SalarioMin DECIMAL(18,2),
    @SalarioMax DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        INSERT INTO OfertasTrabajo (EmpresaID, Titulo, Descripcion, EspecialidadID, UbicacionID, Modalidad, SalarioMin, SalarioMax)
        VALUES (@EmpresaID, @Titulo, @Descripcion, @EspecialidadID, @UbicacionID, @Modalidad, @SalarioMin, @SalarioMax);

        SELECT SCOPE_IDENTITY() AS OfertaID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertasTrabajo_ListarFiltrado]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. LISTADO FILTRADO DINAMICO (El "Extra" de experiencia)
CREATE   PROCEDURE [dbo].[USP_OfertasTrabajo_ListarFiltrado]
    @EspecialidadID INT = NULL,
    @Modalidad NVARCHAR(50) = NULL,
    @SalarioMin DECIMAL(18,2) = NULL,
    @Pagina INT = 1,
    @TamanoPagina INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    SELECT O.OfertaID, O.Titulo, E.NombreEmpresa, O.Modalidad, O.SalarioMin, O.SalarioMax, O.FechaPublicacion
    FROM OfertasTrabajo O
    INNER JOIN Empresas E ON O.EmpresaID = E.EmpresaID
    WHERE O.Estado = 'Activa'
      AND (@EspecialidadID IS NULL OR O.EspecialidadID = @EspecialidadID)
      AND (@Modalidad IS NULL OR O.Modalidad = @Modalidad)
      AND (@SalarioMin IS NULL OR O.SalarioMin >= @SalarioMin)
    ORDER BY O.FechaPublicacion DESC
    OFFSET (@Pagina - 1) * @TamanoPagina ROWS
    FETCH NEXT @TamanoPagina ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_OFERTASTRABAJO_LISTARPOREMPRESA]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_OFERTASTRABAJO_LISTARPOREMPRESA]
    @EMPRESAID INT
AS
BEGIN
    SELECT 
        O.OfertaID, O.EmpresaID, E.NombreEmpresa, O.Titulo, 
        O.Descripcion, ES.Nombre AS EspecialidadNombre, 
        U.Ciudad AS Ciudad, O.Modalidad, O.SalarioMin, 
        O.SalarioMax, O.Estado, O.FechaPublicacion
    FROM OfertasTrabajo O
    INNER JOIN Empresas E ON O.EmpresaID = E.EmpresaID
    INNER JOIN Especialidades ES ON O.EspecialidadID = ES.EspecialidadID
    INNER JOIN Ubicaciones U ON O.UbicacionID = U.UbicacionID
    WHERE O.EmpresaID = @EMPRESAID;  
END

SELECT * FROM Ubicaciones
GO
/****** Object:  StoredProcedure [dbo].[USP_OfertasTrabajo_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_OfertasTrabajo_ObtenerPorID]
    @OfertaID INT
AS
BEGIN
    SELECT 
        O.OfertaID,
        O.EmpresaID,
        E.NombreEmpresa,
        O.Titulo,
        O.Descripcion,
        O.EspecialidadID, -- ¡Asegúrate de que esta esté!
        ES.Nombre AS EspecialidadNombre,
        O.UbicacionID,    -- ¡Y esta también!
        U.Ciudad,
        O.Modalidad,
        O.SalarioMin,
        O.SalarioMax,
        O.Estado,
        O.FechaPublicacion
    FROM OfertasTrabajo O
    INNER JOIN Empresas E ON O.EmpresaID = E.EmpresaID
    INNER JOIN Especialidades ES ON O.EspecialidadID = ES.EspecialidadID
    INNER JOIN Ubicaciones U ON O.UbicacionID = U.UbicacionID
    WHERE O.OfertaID = @OfertaID
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Postulaciones_ActualizarEstado]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. ACTUALIZAR ESTADO DE POSTULACION (La empresa decide)
CREATE   PROCEDURE [dbo].[USP_Postulaciones_ActualizarEstado]
    @PostulacionID INT,
    @NuevoEstado NVARCHAR(30) -- 'Pendiente', 'En Revision', 'Aceptado', 'Rechazado'
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Postulaciones
        SET EstadoPostulacion = @NuevoEstado
        WHERE PostulacionID = @PostulacionID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La postulacion no existe.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Postulaciones_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Postulaciones_Eliminar]
    @PostulacionID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- En lugar de DELETE, hacemos UPDATE
        UPDATE Postulaciones 
        SET Activo = 0 
        WHERE PostulacionID = @PostulacionID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La postulacion no existe o ya fue desactivada.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Postulaciones_ListarPorOferta]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Postulaciones_ListarPorOferta]
    @OfertaID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        P.PostulacionID, 
        P.OfertaID,           -- <--- ¡Faltaba esta!
        P.UsuarioID,          -- <--- ¡Y esta también!
        U.NombreCompleto AS CandidatoNombre, 
        U.Email, 
        P.FechaPostulacion, 
        P.EstadoPostulacion, 
        P.CV_AdjuntoURL
    FROM Postulaciones P
    INNER JOIN Usuarios U ON P.UsuarioID = U.UsuarioID
    WHERE P.OfertaID = @OfertaID
    ORDER BY P.FechaPostulacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Postulaciones_ListarPorUsuario]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Postulaciones_ListarPorUsuario]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        P.PostulacionID,               -- 🔍 Requerido por DAO
        P.OfertaID,                    -- 🔍 Requerido por DAO (Aquí tronaba)
        O.Titulo AS OfertaTitulo,      -- 🔍 Requerido por DAO
        P.UsuarioID,                   -- 🔍 Requerido por DAO
        C.NombreCompleto AS CandidatoNombre, -- 💡 Join con tabla Usuarios/Candidatos si es necesario
        P.FechaPostulacion,            -- 🔍 Requerido por DAO
        P.EstadoPostulacion,           -- 🔍 Requerido por DAO
        P.CV_AdjuntoURL,               -- 🔍 Requerido por DAO
        P.Activo                       -- 🔍 Requerido por DAO
    FROM Postulaciones P
    INNER JOIN OfertasTrabajo O ON P.OfertaID = O.OfertaID
    -- 💡 Asumiendo que tienes una tabla de Usuarios/Candidatos para el nombre:
    LEFT JOIN Usuarios C ON P.UsuarioID = C.UsuarioID 
    WHERE P.UsuarioID = @UsuarioID 
    AND P.Activo = 1
    ORDER BY P.FechaPostulacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Postulaciones_Registrar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- TABLA: POSTULACIONES (EL CORAZÓN DEL NEGOCIO) ---

-- 1. REGISTRAR POSTULACION (Candidato aplica a oferta)
CREATE   PROCEDURE [dbo].[USP_Postulaciones_Registrar]
    @OfertaID INT,
    @UsuarioID INT,
    @CV_AdjuntoURL NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Regla de negocio: No postular dos veces a la misma oferta
        IF EXISTS (SELECT 1 FROM Postulaciones WHERE OfertaID = @OfertaID AND UsuarioID = @UsuarioID)
            THROW 51000, 'Ya te has postulado a esta oferta anteriormente.', 1;

        INSERT INTO Postulaciones (OfertaID, UsuarioID, CV_AdjuntoURL)
        VALUES (@OfertaID, @UsuarioID, @CV_AdjuntoURL);

        SELECT SCOPE_IDENTITY() AS PostulacionID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ubicaciones_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. ACTUALIZAR UBICACION
CREATE   PROCEDURE [dbo].[USP_Ubicaciones_Actualizar]
    @UbicacionID INT,
    @Ciudad NVARCHAR(100),
    @Pais NVARCHAR(50),
    @Estado NVARCHAR(20) = 'Activo' -- 💡 Lo ponemos opcional con valor default
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        UPDATE Ubicaciones
        SET Ciudad = @Ciudad,
            Pais = @Pais,
            Estado = @Estado
        WHERE UbicacionID = @UbicacionID;

        IF @@ROWCOUNT = 0
            THROW 51000, 'La ubicación no existe en la red AXON.', 1;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ubicaciones_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Ubicaciones_Eliminar]
    @UbicacionID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Verificamos si existe antes de operar
        IF NOT EXISTS (SELECT 1 FROM Ubicaciones WHERE UbicacionID = @UbicacionID)
        BEGIN
            THROW 51000, 'El Nodo de Ubicación no existe en el sistema AXON.', 1;
        END

        -- Aplicamos el borrado lógico (Toggle)
        UPDATE Ubicaciones 
        SET Estado = CASE 
                        WHEN Estado = 'Activo' THEN 'Inactivo' 
                        ELSE 'Activo' 
                     END
        WHERE UbicacionID = @UbicacionID;

        -- Retornamos un mensaje de éxito (opcional para debug)
        PRINT 'Estado de Ubicación sincronizado correctamente.';
        
    END TRY
    BEGIN CATCH
        -- Capturamos el error y lo lanzamos para que la API lo vea
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ubicaciones_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--- TABLA: UBICACIONES (MAESTRA) ---

-- 1. INSERTAR UBICACION
CREATE   PROCEDURE [dbo].[USP_Ubicaciones_Insertar]
    @Ciudad NVARCHAR(100),
    @Pais NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO Ubicaciones (Ciudad, Pais) VALUES (@Ciudad, @Pais);
    SELECT SCOPE_IDENTITY() AS UbicacionID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ubicaciones_Listar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_Ubicaciones_Listar]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UbicacionID, 
        Ciudad, 
        Pais, 
        Estado -- 💡 Importante para que el Admin vea si está activo/inactivo
    FROM Ubicaciones
    ORDER BY Ciudad ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Ubicaciones_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Ubicaciones_ObtenerPorID]
    @UbicacionID INT
AS
BEGIN
    SET NOCOUNT ON;
    -- 💡 Agregamos 'Estado' para que el DAO lo encuentre
    SELECT UbicacionID, Ciudad, Pais, Estado 
    FROM Ubicaciones 
    WHERE UbicacionID = @UbicacionID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_Actualizar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. ACTUALIZAR PERFIL BÁSICO
-- =============================================
CREATE PROCEDURE [dbo].[USP_Usuarios_Actualizar]
    @UsuarioID INT,
    @NombreCompleto NVARCHAR(150),
    @Email NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar que el nuevo email no lo tenga otro usuario
        IF EXISTS (SELECT 1 FROM Usuarios WHERE Email = @Email AND UsuarioID <> @UsuarioID)
        BEGIN
            ;THROW 51000, 'El correo electrónico ya está siendo usado por otro usuario.', 1;
        END

        UPDATE Usuarios
        SET NombreCompleto = @NombreCompleto,
            Email = @Email
        WHERE UsuarioID = @UsuarioID;
    END TRY
    BEGIN CATCH
        ;THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_Eliminar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Usuarios_Eliminar]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- 💡 Lógica Toggle: El valor será el opuesto al actual (1 -> 0, 0 -> 1)
        UPDATE Usuarios 
        SET Activo = CASE WHEN Activo = 1 THEN 0 ELSE 1 END
        WHERE UsuarioID = @UsuarioID;

        IF @@ROWCOUNT = 0
        BEGIN
            ;THROW 51000, 'El usuario no existe en la base de datos de AXON.', 1;
        END
    END TRY
    BEGIN CATCH
        ;THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_Insertar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- 1. INSERTAR USUARIO (REGISTRO)
-- =============================================
CREATE PROCEDURE [dbo].[USP_Usuarios_Insertar]
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(MAX),
    @NombreCompleto NVARCHAR(150),
    @Rol NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        -- Validar si el correo ya existe
        IF EXISTS (SELECT 1 FROM Usuarios WHERE Email = @Email)
        BEGIN
            ;THROW 51000, 'El correo electrónico ya se encuentra registrado.', 1;
        END

        INSERT INTO Usuarios (Email, PasswordHash, NombreCompleto, Rol)
        VALUES (@Email, @PasswordHash, @NombreCompleto, @Rol);

        -- Retornamos el ID para manejar la sesión inmediatamente
        SELECT SCOPE_IDENTITY() AS UsuarioID;
    END TRY
    BEGIN CATCH
        ;THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_Listar]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Usuarios_Listar]
    @Pagina INT = 1,
    @TamanoPagina INT = 10 
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT UsuarioID, Email, NombreCompleto, Rol, FechaRegistro, Activo
    FROM Usuarios
    ORDER BY UsuarioID DESC
    OFFSET (@Pagina - 1) * @TamanoPagina ROWS
    FETCH NEXT @TamanoPagina ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_ObtenerPorID]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USP_Usuarios_ObtenerPorID]
    @UsuarioID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        UsuarioID, 
        Email, 
        NombreCompleto, 
        Rol, 
        FechaRegistro,
        Activo -- <--- ¡Esta faltaba, mi rey!
    FROM Usuarios
    WHERE UsuarioID = @UsuarioID;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Usuarios_ValidarLogin]    Script Date: 29/04/2026 06:11:59:p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_Usuarios_ValidarLogin] -- o el nombre que tenga tu SP de login
    @Email VARCHAR(100)
AS
BEGIN
    SELECT 
        UsuarioID, 
        Email, 
        PasswordHash, 
        NombreCompleto, 
        Rol, 
        Activo  -- 💡 ¡ESTA ES LA QUE FALTA!
    FROM Usuarios
    WHERE Email = @Email
END
GO
